h1 {
  color: plum;
}

.btn {
  color: #333;
  background-color: honeydew;
  border: 1px solid #333;
  border-radius: 3px;
}

.btn--primary {
  background-color: peachpuff;
}

.btn--rainbow {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple)
}